.sidebar__avatar {
  text-align: center;
  padding: 20px 0;
}

.sidebar__avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--white);
}

.sidebar__menu {
  flex: 1;
}

.sidebar__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  text-decoration: none;
  padding: 16px 10px;
  transition: 0.2s;
}

.sidebar__item:hover {
  background: var(--hover-bg);
}

.sidebar__item .icon svg {
  width: 24px;
  height: 24px;
}

.sidebar__item .text {
  font-size: 13px;
  margin-top: 10px;
  font-weight: bold;
}

.sidebar__logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  padding: 16px 10px;
  transition: 0.2s;
  cursor: pointer;
  margin-bottom: 8px;
  gap: 8px;
}

.sidebar__logout:hover {
  background: var(--hover-bg);
}
