DB_SERVER=127.0.0.1
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

MAILER_HOST=smtp.gmail.com
MAILER_PORT=587
MAILER_USERNAME=
MAILER_PASSWORD=
MAILER_FROM=
MAILER_FROM_NAME=

# Using Google's reCAPTCHA v2
RECAPTCHA_SITEKEY=
RECAPTCHA_SECRET=