@import url("./reset.css");
@import url("./variable.css");

/* Auth */
.auth__container {
  height: 100vh;
  display: flex;
}

.auth__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/assets/image/auth_bg.png") repeat-x center/contain;
  z-index: -1;
}

.auth__container .panel__left {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--bg);
}

.auth__container .panel__left .form__inner {
  display: flex;
  flex-direction: column;
}
